<div class="optionsContent">
	<div class="properties">
		<div class="col_12 panelHeading">
			<label>SOCIAL MEDIA PROPERTIES</label>
		</div>
			<div class="col_12">
				<div class="iconTypes">
					<label>Icon Type</label>
					
					<div class="btn-group socialIconSets" dropdown>
						<button type="button" class="btn btn-default headIconSets" dropdown-toggle>
							<span ng-repeat="icon in socialIcons.icons" ng-if="$index < 4">
								<img ng-src="{{socialIcons.path + socialIcons.iconFolders[ agent.module.attrs.iconOrder ? agent.module.attrs.iconOrder : 0 ] + icon.src}}">
							</span>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu iconList" role="menu">
							<li role="menuitem">
								<span ng-repeat="icon in socialIcons.icons" ng-if="$index < 4" ng-click="agent.module.attrs.iconOrder=0">
									<img ng-src="{{socialIcons.path + socialIcons.iconFolders[0] + icon.src}}">
								</span>
							</li>
							<li role="menuitem">
								<span ng-repeat="icon in socialIcons.icons" ng-if="$index < 4" ng-click="agent.module.attrs.iconOrder=1">
									<img ng-src="{{socialIcons.path + socialIcons.iconFolders[1] + icon.src}}">
								</span>
							</li>
							<li role="menuitem">
								<span ng-repeat="icon in socialIcons.icons" ng-if="$index < 4" ng-click="agent.module.attrs.iconOrder=2">
									<img ng-src="{{socialIcons.path + socialIcons.iconFolders[2] + icon.src}}">
								</span>
							</li>
							<li role="menuitem">
								<span ng-repeat="icon in socialIcons.icons" ng-if="$index < 4" ng-click="agent.module.attrs.iconOrder=3">
									<img ng-src="{{socialIcons.path + socialIcons.iconFolders[3] + icon.src}}">
								</span>
							</li>
						</ul>
					</div>
				</div>
				
				<ul class="socialList"
				ng-init="includingIcons=[]"
				dnd-list="agent.module.attrs.icons">
					<li class="social box"
					ng-repeat="icon in agent.module.attrs.icons"
					ng-init="includingIcons.push(icon.key)"
					dnd-draggable="icon"
					dnd-effect-allowed="move"
					dnd-moved="agent.module.attrs.icons.splice($index, 1)">
						<img ng-src="{{socialIcons.path + socialIcons.iconFolders[ agent.module.attrs.iconOrder ] + icon.iconName}}">
						<span>{{icon.title}}</span>
						
						<div class="pull-right">
							<a href ng-click="socialEdit=!socialEdit"><i class="fa fa-pencil-square-o"></i></a>
							<a href ng-click="agent.module.attrs.icons.splice($index, 1); includingIcons.splice(includingIcons.indexOf(icon.key), 1)"><i class="font-remove"></i></a>
						</div>
						
						<div class="editBody" ng-show="socialEdit" dnd-nodrag>
							<div class="inline"><input type="text" class="full" ng-model="icon.title" placeholder="Title"></div>
<!-- 							<div class="inline"><input type="text" class="full" ng-model="icon.alt" placeholder="Description"></div> -->
							<div class="inline">
								
								<div class="col_4 left alpha"> <label class="socialLink" ng-bind="icon.domain"></label></div>
								<div class="col_5 right omega"> <input type="text" class="full" ng-model="icon.href" ></div>
							
							</div>
							
							<div class="clearfix"></div>
							<button type="button" class="pull-right btn btn-default" ng-click="socialEdit=false">Close</button>
						</div>
					</li>
				</ul>
				
				<div class="otherSocialIcons" dropdown>
					<div class="btn addSocial box" dropdown-toggle ng-disabled="socialIcons.icons.length == includingIcons.length">
						<i class="font-socialMedia"></i>
						<span id="addNewIcon">Add new icon</span>
						<span class="caret"></span>
					</div>
					<ul class="dropdown-menu" role="menu">
						<li role="menuitem" ng-repeat="icon in socialIcons.icons" ng-if="includingIcons.indexOf(icon.key) < 0">
							<a href ng-click="agent.module.attrs.icons.push(set_socialParams(icon))">
								<img ng-src="{{socialIcons.path + socialIcons.iconFolders[ agent.module.attrs.iconOrder ] + icon.src}}" width="25">
								{{icon.title}}
							</a>
						</li>
					</ul>
				</div>
				
				<div class="line"></div>
				
				<div class="inline">
					<label>Icon spacing</label>
					<div class="col_6 omega right">
						<number-pilot ng-model="agent.module.style.iconSpaces" min="0" max="50" step="5"></number-pilot>
					</div>
				</div>
				
				<div class="line"></div>
				
				<p class="align">
					<label>Align</label>
					<span>
						<i ng-click="agent.module.style.textAlign = 'left'" class="font-paragraph-left"></i>
						<i ng-click="agent.module.style.textAlign = 'center'" class="font-paragraph-center"></i>
						<i ng-click="agent.module.style.textAlign = 'right'" class="font-paragraph-right"></i>
					</span>
				</p>
			</div>
			
			<div class='col_12'>
				<label>Spacing</label>
			</div>
			<div class="common-cnt-paddings" ng-include="edit_pnl_tpls_resource+'common_cnt_paddings_usual.html'" data-dynamic="{{paddingsBundle = agent.module.style.outerPaddings}}"></div>
	</div>
</div>